<!DOCTYPE html>
<html ng-app="instacart">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instacart - Become a Shopper!</title>
    <link rel="icon" type="icon" href="/images/favicon.ico">
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/font-awesome.css" rel="stylesheet" />
    <link href="stylesheets/main-style.css" rel="stylesheet" />
  </head>
  <body ng-controller="mainController">
    <!--[if lt IE 9]>
      <div>Unfortunately, we do not support Internet Explorer 8 or below. Please reload the application using Chrome or Firefox.</div>
    <![endif]-->
    <div class="main-logo-container">
      <img class="main-logo" src="images/instacart-logo.png" />
    </div>

    <div id="main-body-content" class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="jumbotron">
            <p class="lead">Earn money shopping and delivering groceries, giving customers more time to do what they love.</p>
            <p class="lead">
              <a class="btn btn-success btn-lg" href="#" role="button">Apply Now</a>
            </p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12">
          <div class="application-form">
            <div class="application-form-description">
              Please tell us about yourself!
            </div>
            <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="firstName" placeholder="First Name">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="email" class="form-control" id="email" placeholder="Email">
                </div>
                <div class="form-group col-md-6">
                  <input type="tel" class="form-control" id="phoneNumber" placeholder="Cell Phone Number">
                </div>
              </div>

              <div class="form-row">
                <div class="form-group col-md-6">
                  <input type="number" class="form-control" id="zipCode" placeholder="Zip Code">
                </div>
                <div class="form-group col-md-6">
                  <input type="text" class="form-control" id="referralCode" placeholder="Referral Code (optional)">
                </div>
              </div>

              <!-- Making the background check a checkbox instead of a separate page for now. -->
              <!-- Will refactor this in the future to be a separate page to be aligned with the requirement spec. -->
              <div class="form-row">
                <div class="form-group col-md-12">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox"> Do you consent to Instacart running a background check?
                    </label>
                  </div>
                </div>
              </div>

              <button type="submit" class="btn btn-primary">Submit</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/bower_components/angular/angular.min.js"></script>
    <script type="text/javascript" src="javascripts/app.js"></script>
  </body>
</html>
