body {
  background-image: url("../images/aisle.jpg");
}

.main-logo-container {
  width: 100%;
  height: 70px;
  background-color: #ffffff;
}

.main-logo {
  margin-top: 20px;
  margin-left: 34px;
  height: 30px;
}

#main-body-content {
  margin-top: 100px;
}

.application-form {
  background-color: #eee;
  padding: 20px;
  border-radius: 6px;

  .application-form-description {
    margin-bottom: 10px;
  }
}
